client
dev tun
proto ${openvpn_protocol}
remote ${remote_dns} ${openvpn_port}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
verb 3

<ca>
${ca_cert}
</ca>

<cert>
${client_cert}
</cert>

<key>
${client_key}
</key>
